%form{
    padding: 60px;
    label{
        display: block;
        margin-bottom: 5px;
    }
    input{
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
    }
}
.form-ln-gray{
    @extend %form;
    input{
        border: 0;
        border-bottom: 2px solid #fff;
    }
}